{% extends './index.html' %}

{% block content %}

<div class="container mt-3">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'download:index' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="mb-3">
                <label for="url" class="form-label">URLs.</label>
                <input type="text" class="form-control form-control-lg" name="urls" type="text" placeholder="Enter URLs" aria-label=".form-control-lg example" required>
            </div>
          
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch"  id="sendEmail" onchange="toggleEmailInput()">
                <label class="form-check-label" for="sendEmail">Send Email </label>
            </div>
            
            <div class="mb-3" id="email-input" style="display:none;">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Download</button>            
            </div>
        </div>
    </form>
</div>

{% endblock  %}





